<div class="panel panel-primary" ng-if="menu=='billing-ecs'">
  <div class="panel-heading">Metering</div>
  <div class="panel-body">
    <div class="field">
      <button class="btn btn-primary has-spinner" ng-disabled="loadingService.isLoading()" ng-class="{'active': loadingService.isLoading()}" ng-click="ecsBillingCtrl.getNamespaces()">
        <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>
        Get Namespaces
      </button>
    </div>
    <div ng-if="main.billing['namespaces']['namespace'].length > 0" class="field">
      <hr />
      <div class="input-group">
        <span class="input-group-addon">From</span>
        <input ng-model="ecsBillingCtrl.from" placeholder="2016-10-01T00:00" class="form-control" id="billing_from" name="billing_from" type="text" />
      </div>
      <br />
    </div>
    <div ng-if="main.billing['namespaces']['namespace'].length > 0" class="field">
      <div class="input-group">
        <span class="input-group-addon">To</span>
        <input ng-model="ecsBillingCtrl.to" placeholder="2016-11-01T00:00" class="form-control" id="billing_to" name="billing_to" type="text" />
      </div>
    </div>
    <div ng-if="main.billing['namespaces']['namespace'].length > 0" class="field">
      <hr />
      <div class="input-group">
        <span class="input-group-addon">Namespaces</span>
        <select ng-model="ecsBillingCtrl.namespace" class="form-control" id="billing_namespace" name="billing_namespace">
          <option ng-repeat="namespace in main.billing['namespaces']['namespace'] | orderBy: 'name'" value="{{ namespace['name'] }}">{{ namespace['name'] }}</option>
        </select>
      </div>
      <br />
    </div>
    <div ng-if="main.billing['namespaces']['namespace'].length > 0" class="field">
      <div class="input-group">
        <input type="text" class="form-control" value="Show bucket details" readonly="readonly">
        <span class="input-group-addon">
          <input ng-model="ecsBillingCtrl.bucket_details" id="billing_bucket_details" name="billing_bucket_details" type="checkbox" />
        </span>
      </div>
      <br />
    </div>
    <div ng-if="main.billing['namespaces']['namespace'].length > 0" class="field space">
      <button class="btn btn-primary has-spinner" ng-disabled="loadingService.isLoading()" ng-class="{'active': loadingService.isLoading()}" ng-click="ecsBillingCtrl.getUsers()">
        <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>
        Get Users
      </button>
    </div>
    <div ng-if="main.billing['namespaces']['namespace'].length > 0" class="field">
      <button class="btn btn-primary has-spinner" ng-disabled="loadingService.isLoading()" ng-class="{'active': loadingService.isLoading()}" ng-click="ecsBillingCtrl.getInfo()">
        <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>
        Get Usage
      </button>
    </div>
    <div ng-if="main.billing['users']['blobuser'].length > 0" class="field">
      <hr />
      <div class="input-group">
        <span class="input-group-addon">Users</span>
        <select ng-model="ecsBillingCtrl.user" class="form-control" id="billing_user" name="billing_user">
          <option ng-repeat="user in main.billing['users']['blobuser'] | orderBy: 'userid'" value="{{ user['userid'] }}">{{ user['userid'] }}</option>
        </select>
      </div>
      <br />
    </div>
    <div ng-if="main.billing['users']['blobuser'].length > 0" class="field space">
      <button class="btn btn-primary has-spinner" ng-disabled="loadingService.isLoading()" ng-class="{'active': loadingService.isLoading()}" ng-click="ecsBillingCtrl.getBuckets()">
        <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>
        Get Buckets
      </button>
    </div>
    <div ng-if="main.billing['buckets']['object_bucket'].length > 0" class="field">
      <button class="btn btn-primary has-spinner" ng-disabled="loadingService.isLoading()" ng-class="{'active': loadingService.isLoading()}" ng-click="ecsBillingCtrl.getInfo('buckets')">
        <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>
        Get Usage
      </button>
    </div>
    <div ng-if="main.billing['buckets']['object_bucket'].length > 0" class="field">
      <hr />
      <div class="input-group">
        <span class="input-group-addon">Buckets</span>
        <select ng-model="ecsBillingCtrl.bucket" class="form-control" id="billing_bucket" name="billing_bucket">
          <option ng-repeat="bucket in main.billing['buckets']['object_bucket']  | filter:{ owner: ecsBillingCtrl.user }  | orderBy: 'name'" value="{{ bucket['name'] }}">{{ bucket['name'] }}</option>
        </select>
      </div>
      <br />
    </div>
    <div ng-if="main.billing['buckets']['object_bucket'].length > 0" class="field">
      <button class="btn btn-primary has-spinner" ng-disabled="loadingService.isLoading()" ng-class="{'active': loadingService.isLoading()}" ng-click="ecsBillingCtrl.getInfo('bucket')">
        <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>
        Get Usage
      </button>
    </div>
  </div>
</div>
