<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="" ng-click="menu='home'">Home</a></li>
      <li ng-show="main.s3login=='true'" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">S3 API<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="" ng-click="menu='credentials'">Credentials</a></li>
          <li><a href="" ng-click="menu='create-s3'">Create bucket</a></li>
          <li><a href="" ng-click="menu='list-s3'">List bucket</a></li>
          <li><a href="" ng-click="menu='versionlist-s3'">List bucket versions</a></li>
          <li><a href="" ng-click="menu='metadata-search'">Metadata search</a></li>
          <li><a href="" ng-click="menu='get-s3'">Get/head object</a></li>
          <li><a href="" ng-click="menu='requests-s3'">Requests</a></li>
          <li ng-show="main.html5browser == true"><a href="" ng-click="menu='html5browser'">Browser</a></li>
        </ul>
      </li>
      <li ng-show="main.s3login=='true'" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Swift API<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="" ng-click="menu='create-swift'">Create container</a></li>
          <li><a href="" ng-click="menu='requests-swift'">Requests</a></li>
        </ul>
      </li>
      <li ng-show="main.s3login=='true'" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Atmos API<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="" ng-click="menu='create-atmos'">Create subtenant</a></li>
          <li><a href="" ng-click="menu='requests-atmos'">Requests</a></li>
        </ul>
      </li>
      <li ng-show="main.s3login=='false'" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ECS API<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="" ng-click="menu='billing-ecs'">Metering</a></li>
          <li><a href="" ng-click="menu='requests-ecs'">Requests</a></li>
        </ul>
      </li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
