<div class="panel panel-primary"  ng-if="menu=='credentials'">
  <div class="panel-heading">Credentials</div>
  <div class="panel-body">
    <div class="field">
      <div class="input-group">
        <span class="input-group-addon">Access Key</span>
        <input ng-model="main.credentials['access-key']" class="form-control" type="text" readonly="readonly" />
      </div>
    </div>
    <br />
    <div class="field">
      <div class="input-group">
        <span class="input-group-addon">Secret Key</span>
        <input ng-model="main.credentials['secret-key']" class="form-control" type="text" readonly="readonly" />
      </div>
    </div>
    <br />
    <div class="field">
      <div class="input-group">
        <span class="input-group-addon">Endpoint</span>
        <input ng-model="main.credentials['endpoint']" class="form-control" type="text" readonly="readonly" />
      </div>
    </div>
  </div>
</div>
