<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="" ng-click="menu='home'">Home</a></li>
      <li ng-show="main.s3login=='true'" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">S3 API<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="" ng-click="menu='credentials'">Credentials</a></li>
          <li><a href="" ng-click="menu='bucket-ACL-s3'">Bucket Acl Operations</a></li>
          <li><a href="" ng-click="menu='bucket-CORS-s3'">Bucket Cors Operations</a></li>
          <li><a href="" ng-click="menu='bucket-ADO-s3'">Bucket Is Stale Allowed Operations</a></li>
          <li><a href="" ng-click="menu='bucket-Location-s3'">Bucket Location Operations</a></li>
          <li><a href="" ng-click="menu='bucket-Bucket-s3'">Bucket Operations</a></li>
          <li><a href="" ng-click="menu='bucket-Versions-s3'">Bucket Versions Operations</a></li>
          <li><a href="" ng-click="menu='bucket-Metadata-s3'">Bucket Metadata Operations</a></li>
          <li><a href="" ng-click="menu='object-s3'">Object operations</a></li>
          <li><a href="" ng-click="menu='requests-s3'">Requests</a></li>
          <li ng-show="main.html5browser == true"><a href="" ng-click="menu='html5browser'">Browser</a></li>
        </ul>
      </li>
      <li ng-show="main.s3login=='true'" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Swift API<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="" ng-click="menu='create-swift'">Create container</a></li>
          <li><a href="" ng-click="menu='requests-swift'">Requests</a></li>
        </ul>
      </li>
      <li ng-show="main.s3login=='true'" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Atmos API<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="" ng-click="menu='create-atmos'">Create subtenant</a></li>
          <li><a href="" ng-click="menu='requests-atmos'">Requests</a></li>
        </ul>
      </li>
      <li ng-show="main.s3login=='false'" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">ECS API<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="" ng-click="menu='billing-ecs'">Metering</a></li>
          <li><a href="" ng-click="menu='requests-ecs'">Requests</a></li>
        </ul>
      </li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
