<div class="panel panel-primary" ng-if="menu.startsWith('list-')">
  <div class="panel-heading">List bucket/container/subtenant</div>
  <div class="panel-body">
    <form accept-charset="UTF-8" ng-submit="listCtrl.create(menu.split('-')[1])">
      <div class="field" ng-if="menu=='list-swift'">
        <div class="input-group">
          <span class="input-group-addon">Swift Endpoint</span>
          <input ng-model="main.swiftendpoint" ng-required="true" class="form-control" id="bucket_endpoint" name="bucket_endpoint" type="text" />
        </div>
        <br />
      </div>
      <div class="field" ng-if="menu=='list-atmos'">
        <div class="input-group">
          <span class="input-group-addon">Atmos Endpoint</span>
          <input ng-model="main.atmosendpoint" ng-required="true" class="form-control" id="bucket_endpoint" name="bucket_endpoint" type="text" />
        </div>
        <br />
      </div>
      <div class="field" ng-if="menu=='list-swift'">
        <div class="input-group">
          <span class="input-group-addon">Swift Password</span>
          <input ng-model="listCtrl.bucket_password" ng-required="true" class="form-control" id="bucket_password" name="bucket_password" type="password" />
        </div>
        <br />
      </div>
      <div class="field" ng-if="(menu=='list-s3' || menu=='list-swift')">
        <div class="input-group">
          <span class="input-group-addon">Bucket/Container name</span>
          <input ng-model="listCtrl.bucket_name" ng-required="true" class="form-control" id="bucket_name" name="bucket_name" type="text" />
        </div>
        <br />
      </div>
      <div class="field" ng-if="menu=='list-s3'">
        <div class="input-group">
          <span class="input-group-addon">Delimiter</span>
          <input ng-model="listCtrl.delimiter" class="form-control" id="delimiter" name="delimiter" type="text" />
        </div>
        <br />
        <div class="input-group">
          <span class="input-group-addon">Encoding type</span>
          <input ng-model="listCtrl.encodingType" class="form-control" id="encodingType" name="encodingType" type="text" />
        </div>
        <br />
        <div class="input-group">
          <span class="input-group-addon">Maximum number to return</span>
          <input ng-model="listCtrl.maxKeys" class="form-control" id="maxKeys" name="maxKeys" type="number" />
        </div>
        <br />
        <div class="input-group">
          <span class="input-group-addon">Prefix</span>
          <input ng-model="listCtrl.prefix" class="form-control" id="prefix" name="prefix" type="text" />
        </div>
        <br />
        <div class="input-group">
          <span class="input-group-addon">Return objects after key</span>
          <input ng-model="listCtrl.startAfter" class="form-control" id="startAfter" name="startAfter" type="text" />
        </div>
        <br />
        <div class="input-group">
          <input type="text" class="form-control" value="List API version" readonly="readonly">
          <span class="input-group-addon">
            <select ng-model="listCtrl.listType" id="listType" name="listType" type="select" required >
              <option selected >1</option>
              <option>2</option>
            </select>
          </span>
        </div>
        <br />
        <div ng-if="listCtrl.listType=='2'">
          <div class="input-group">
            <span class="input-group-addon">Continuation token</span>
            <input ng-model="listCtrl.continuationToken" class="form-control" id="continuationToken" name="continuationToken" type="text" />
          </div>
          <br />
          <div class="input-group">
            <span class="input-group-addon">Return owner information</span>
            <input ng-model="listCtrl.fetchOwner" class="form-control" id="fetchOwner" name="fetchOwner" type="checkbox" />
          </div>
          <br />
        </div>
      </div>
      <div class="actions">
        <button class="btn btn-primary has-spinner" ng-disabled="loadingService.isLoading()" ng-class="{'active': loadingService.isLoading()}">
          <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>
          List
        </button>
      </div>
    </form>
    <h2>Response code</h2>
    <h3>
      <span class="label label-default" ng-bind-html="main.response['code']"></span>
    </h3>
    <h2>Headers</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, value) in main.response['response_headers']">
          <td>{{ key }}</td>
          <td>{{ value }}</td>
        </tr>
      </tbody>
    </table>
    <h2>Body</h2>
    <div class="wordbreak" ng-bind-html="main.response['body']"></div>
  </div>
</div>
