<div class="panel panel-primary" ng-if="menu.startsWith('requests-')">
  <div class="panel-heading">Examples</div>
  <div class="panel-body">
    <div class="panel-group" id="api_examples_accordion" role="tablist">
      <div class="panel panel-default" ng-repeat="example in main.examples" ng-if="example['api'] == menu.split('-')[1]">
        <div class="panel-heading" role="tab" id="api_examples_heading_{{ $index }}">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#api_examples_accordion" href="#api_examples_collapse_{{ $index }}" aria-expanded="true" aria-controls="api_examples_collapse_{{ $index }}">
              {{ example["name"] }}
            </a>
          </h4>
        </div>
        <div id="api_examples_collapse_{{ $index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="api_examples_heading_{{ $index }}">
          <div class="panel-group" id="api_examples_accordion_{{ $index }}" role="tablist">
            <div class="panel panel-default" ng-repeat="step in example['steps']">
              <div class="panel-heading subpanel-heading" role="tab" id="api_examples_heading_{{ $parent.$index }}_{{ $index }}">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#api_examples_accordion_{{ $index }}" href="#api_examples_collapse_{{ $parent.$index }}_{{ $index }}" aria-expanded="true" aria-controls="api_examples_collapse_{{ $parent.$index }}_{{ $index }}">
                    Step {{ $index + 1 }} - {{ step['description'] }}
                  </a>
                </h4>
              </div>
              <div id="api_examples_collapse_{{ $parent.$index }}_{{ $index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="api_examples_heading_{{ $parent.$index }}_{{ $index }}">
                <div class="panel-body">
                  <div class="field" ng-repeat="input in step['inputs']">
                    <div class="input-group">
                      <span class="input-group-addon" id="api_examples_input_key_{{ $parent.$parent.$index }}_{{ $parent.$index }}_{{ $index }}" name="api_examples_input_key_{{ $parent.$parent.$index }}_{{ $parent.$index }}_{{ $index }}">{{ input }}</span>
                      <input class="form-control" type="text" id="api_examples_input_{{ $parent.$parent.$index }}_{{ $parent.$index }}_{{ $index }}" name="api_examples_input_{{ $parent.$parent.$index }}_{{ $parent.$index }}_{{ $index }}" />
                    </div>
                    <br />
                  </div>
                  <div class="field">
                    <div class="input-group">
                      <span class="input-group-addon">Expected Response Code</span>
                      <input class="form-control" type="text" id="api_examples_expected_response_code_{{ $parent.$index }}_{{ $index }}" name="api_examples_expected_response_code_{{ $parent.$index }}_{{ $index }}" value="{{ step['expected_response_code'] }}" />
                    </div>
                    <br />
                  </div>
                  <div class="field">
                    <div class="input-group">
                      <span class="input-group-addon">Path</span>
                      <input class="form-control" type="text" id="api_examples_path_{{ $parent.$index }}_{{ $index }}" name="api_examples_path_{{ $parent.$index }}_{{ $index }}" value="{{ step['path'] }}" />
                    </div>
                    <br />
                  </div>
                  <div class="field">
                    <div class="input-group">
                      <span class="input-group-addon">Range</span>
                      <input class="form-control" type="text" id="api_examples_range_{{ $parent.$index }}_{{ $index }}" name="api_examples_range_{{ $parent.$index }}_{{ $index }}" value="{{ step['range'] }}" />
                    </div>
                  </div>
                  <br />
                  <div class="field">
                    <div class="input-group">
                      <span class="input-group-addon">Data</span>
                      <textarea class="form-control" type="text" id="api_examples_data_{{ $parent.$index }}_{{ $index }}" name="api_examples_data_{{ $parent.$index }}_{{ $index }}">{{ step['data'] }}</textarea>
                    </div>
                    <br />
                  </div>
                  <div class="field">
                    <div class="input-group">
                      <span class="input-group-addon">Method</span>
                      <input class="form-control" type="text" id="api_examples_method_{{ $parent.$index }}_{{ $index }}" name="api_examples_method_{{ $parent.$index }}_{{ $index }}" value="{{ step['method'] }}" />
                    </div>
                    <br />
                  </div>
                  <div ng-repeat="(key, value) in step['headers']" class="field">
                    <div class="input-group">
                      <span class="input-group-addon">{{ key }}</span>
                      <input class="form-control" type="hidden" id="api_examples_header_key_{{ $parent.$parent.$index }}_{{ $parent.$index }}_{{ $index }}" name="api_examples_header_key_{{ $parent.$parent.$index }}_{{ $parent.$index }}_{{ $index }}" value="{{ key }}" />
                      <input class="form-control" type="text" id="api_examples_header_value_{{ $parent.$parent.$index }}_{{ $parent.$index }}_{{ $index }}" name="api_examples_header_value_{{ $parent.$parent.$index }}_{{ $parent.$index }}_{{ $index }}" value="{{ value }}" />
                    </div>
                    <br />
                  </div>
                  <!--
                  <div class="field" ng-if="menu=='requests-s3'">
                    <div class="input-group">
                      <span class="input-group-addon">s3curl</span>
                      <input class="form-control" type="text" id="api_examples_method_{{ $parent.$index }}_{{ $index }}" name="api_examples_method_{{ $parent.$index }}_{{ $index }}" value="{{ step['method'] }}" />
                    </div>
                  </div>
                  <br />
                  -->
                  <div class="field space">
                    <button class="btn btn-primary has-spinner" ng-disabled="loadingService.isLoading()" ng-class="{'active': loadingService.isLoading()}" ng-click="apisCtrl.executeStep($parent.$index, $index, menu.split('-')[1], true)">
                      <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>
                      Execute
                    </button>
                  </div>
                  <div class="field space" ng-if="(menu=='requests-s3' || menu=='requests-swift' || menu=='requests-ecs')">
                    <button class="btn btn-primary has-spinner" ng-disabled="loadingService.isLoading()" ng-class="{'active': loadingService.isLoading()}" ng-click="apisCtrl.executeStep($parent.$parent.$index, $parent.$index, menu.split('-')[1], false)">
                      <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>
                      Show CLI
                    </button>
                  </div>
                  <div class="field">
                    <button class="btn" id="api_examples_response_code_{{ $parent.$index }}_{{ $index }}" name="api_examples_response_code_{{ $parent.$index }}_{{ $index }}" ng-click="apisCtrl.showResponse($parent.$index, $index, menu.split('-')[1])">
                      -
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
