<!DOCTYPE html>
<html lang="en">
<head>
  <title>ECS API User Interface</title>
  <link rel="stylesheet" type="text/css" href="/app/css/app.css" />
  <script type="text/javascript" src="/app/javascript/app.js"></script>

  <style>
  h1 {
    max-height: 20%;
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    text-align: center;
  }
  </style>
</head>
<body>

  <h1>{{.}}</h1>

</body>
</html>
