<!DOCTYPE html>
<html lang="en">
<head>
  <title>ECS API User Interface</title>
  <link rel="stylesheet" type="text/css" href="/app/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/app/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/app/css/app.css" />
</head>
<body>
  <div id="content" class="main container-fluid fullsize">
    <div class="row">
        <h1 class="logo col-md-12">ECS API User Interface</h1>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {{ if . }}
          <div id="alert-danger" class="alert alert-danger">{{.}}</div>
        {{ end }}
        <div class="panel panel-primary">
          <div class="panel-heading">Login</div>
          <div class="panel-body">
            <form accept-charset="UTF-8" action="/login" id="viewForm" method="post">
              <div class="field">
                <div class="input-group">
                  <span class="input-group-addon">Authentication method</span>
                  <select class="form-control" id="authentication" name="authentication">
                    <option value="objectuser">ECS Object User</option>
                    <option value="ad">Active Directory Object User</option>
                    <option value="adminuser">ECS Management User</option>
                  </select>
                </div>
              </div>
              <br />
              <div class="field">
                <div class="input-group">
                  <span class="input-group-addon">User</span>
                  <input class="form-control" id="user" name="user" type="text" />
                </div>
              </div>
              <br />
              <div class="field">
                <div class="input-group">
                  <span class="input-group-addon">Password</span>
                  <input class="form-control" id="password" name="password" type="password" />
                </div>
              </div>
              <br />
              <div class="field">
                <div class="input-group">
                  <span class="input-group-addon">ECS endpoint</span>
                  <input class="form-control" id="endpoint" name="endpoint" type="text" />
                </div>
              </div>
              <br />
              <div class="actions">
                <input class="btn btn-primary" type="submit" value="Login" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
